/**
 * Common styles
 *=======================================================*/

html, body {
    margin: 0;
    padding: 0;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}

.centered {
    text-align: center;
}

.header, .footer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #efefef;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content {
    position: relative;
    top: 100px;
    padding: 10px;
}

.header h1, .footer h1 {
    position: relative;
    top: 50%;
    margin-top: -10px;
    color: #a8a8a8;
}

.create-user-btn {
    margin-top: 20px;
}

.project-form {
    position: relative;
    height: 180px;
    width: 400px;
    margin: 30px auto;
}

.project-form input[type="text"] {
    width: 100%;
    display: block;
    margin: 0 0 20px 0;
}

.project-form textarea[role="textbox"] {
    width: 100%;
    display: block;
    margin: 0 0 20px 0;
}

.developer {
    width: 100%;
    margin: 0 0 20px 0;
}