<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/main.xhtml">

    <!-- Header -->
    <ui:define name="title">Create Project Page</ui:define>

    <!-- Content -->
    <ui:define name="content">
        <h:form id="form">
            <p:growl id="msgs" showDetail="true"/>

            <!-- Create Project Form -->
            <div class="project-form">

                <!-- Name -->
                <p:outputLabel value="Title" for="title"/>
                <p:inputText id="title" value="#{createProject.title}"
                             required="true"
                             requiredMessage="Please, input a title"/>


                <!-- Submit -->
                <p:commandButton value="Create"
                                 action="#{createProject.createProject}"
                                 update="@form"
                                 icon="fa fa-file"/>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
