<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/main.xhtml">

    <!-- Header -->
    <ui:define name="title">Edit Task Page</ui:define>

    <!-- Content -->
    <ui:define name="content">
        <h:form id="form">
            <p:growl id="msgs" showDetail="false"/>

            <!-- Edit Task Form -->
            <div class="project-form">

                <!-- Title -->
                <p:outputLabel value="Title" for="title"/>
                <p:inputText id="title" value="#{editTask.task.title}"
                             required="true"
                             requiredMessage="Please, input a title"/>
                <!-- Description -->
                <p:outputLabel value="Description" for="description"/>
                <p:inputTextarea id="description" value="#{editTask.task.description}"
                                 required="true"
                                 requiredMessage="Please, input a description"/>

                <p:outputLabel value="Developer" for="developer"/>
                <h:selectOneMenu id="developer" styleClass="developer" value="#{editTask.developer}"
                                 converter="omnifaces.SelectItemsIndexConverter">
                    <f:selectItems value="#{editTask.developers}" var="c"
                                   itemLabel="#{c.name} #{c.surname}"/>
                </h:selectOneMenu>

                <!-- Submit -->
                <p:commandButton value="Update"
                                 action="#{editTask.updateTask}"
                                 update="@form"
                                 icon="fa fa-edit">
                    <f:param name="projectId" value="#{editTask.task.project.id}"/>
                </p:commandButton>
            </div>
        </h:form>
    </ui:define>
</ui:composition>

</html>
