<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/main.xhtml">

    <!-- Header -->
    <ui:define name="title">Task List</ui:define>

    <!-- Content -->
    <ui:define name="content">
        <h:form id="form">
            <p:growl id="msgs" showDetail="false"/>

            <!-- Project Task's -->
            <p:dataTable id="taskTable" var="task" value="#{tasks.tasks}">
                <f:facet name="header">Task's</f:facet>
                <p:column headerText="ID">#{task.id}</p:column>
                <p:column headerText="Title">#{task.title}</p:column>
                <p:column headerText="Description">#{task.description}</p:column>
                <p:column headerText="Status">#{task.taskStatus}</p:column>
                <p:column headerText="Developer">#{task.developer.name} #{task.developer.surname} </p:column>
                <p:column headerText="Edit" styleClass="centered">
                    <p:button value="Edit"
                              outcome="edit-task"
                              includeViewParams="true"
                              update="taskTable"
                              icon="fa fa-edit">
                        <f:param name="taskId" value="#{task.id}"/>
                        <f:param name="projectId" value="#{param['projectId']}"/>
                    </p:button>
                </p:column>
                <p:column headerText="Delete" styleClass="centered">
                    <p:commandButton
                            value="Delete"
                            action="#{tasks.deleteTask(task)}"
                            update="taskTable"
                            icon="fa fa-remove">
                        <f:param name="projectId" value="#{param['projectId']}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>

            <p:button value="Home"
                      outcome="projects"
                      styleClass="create-user-btn"
                      icon="fa fa-home"/>
            <p:button value="Create Task"
                      outcome="create-task"
                      styleClass="create-user-btn"
                      icon="fa fa-file-text">
                <f:param name="projectId" value="#{param['projectId']}"/>
            </p:button>
        </h:form>
    </ui:define>
</ui:composition>
</html>