<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="templates/main.xhtml">

    <!-- Header -->
    <ui:define name="title">Project List</ui:define>

    <!-- Content -->
    <ui:define name="content">
        <h:form id="form">
            <p:growl id="msgs" showDetail="false"/>

            <!-- Project Table -->
            <p:dataTable id="projectTable" var="project" value="#{projects.projects}">
                <f:facet name="header">Projects</f:facet>
                <p:column headerText="ID">#{project.id}</p:column>
                <p:column headerText="Title">#{project.title}</p:column>
                <p:column headerText="Manger">#{project.manager.name}</p:column>
                <p:column headerText="List of Task's" styleClass="centered">
                    <p:button value="List"
                              outcome="project-tasks"
                              includeViewParams="true"
                              update="projectTable"
                              icon="fa fa-list">
                        <f:param name="projectId" value="#{project.id}"/>
                    </p:button>
                </p:column>
                <p:column headerText="Delete" styleClass="centered">
                    <p:commandButton
                            value="Delete"
                            action="#{projects.deleteProject(project)}"
                            update="@form"
                            icon="fa fa-remove"/>
                </p:column>
            </p:dataTable>

            <!-- Create Project Button -->
            <p:button value="Create Project"
                      outcome="create-project"
                      styleClass="create-user-btn"
                      icon="fa fa-file"/>
        </h:form>
    </ui:define>
</ui:composition>
</html>