<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title><ui:insert name="title">PMS Web App</ui:insert></title>
    <h:outputStylesheet name="style.css" library="css"/>
</h:head>

<h:body>
    <div class="header">
        <ui:insert name="header">
            <ui:include src="../bricks/def-header.xhtml"/>
        </ui:insert>
    </div>

    <div class="content">
        <ui:insert name="content">Content should be placed here</ui:insert>
    </div>

    <div class="footer">
        <ui:insert name="footer">
            <ui:include src="../bricks/def-footer.xhtml"/>
        </ui:insert>
    </div>
</h:body>
</html>